<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Employee Id</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="EmployeeId"
        placeholder="Enter Employee Id">
    </div>
    <label class="col-sm-2 col-form-label">Pin</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="Pin"
        placeholder="Enter Pin">
    </div>
    <button style="background-color:Tomato;" (click)="goToAdmin()"  class="btn btn-primary">
        <a href="/admin">Enter as Admin</a>
    </button>

    <button style="background-color:Tomato;" (click)="firstdoor()" class="btn btn-primary">
        <a href="/member">Door 1</a>
    </button>
    <button style="background-color:Tomato;" (click)="seconddoor()" routerLink="member" class="btn btn-primary">
        <a href="/member">Door 2</a>
    </button>
    <button style="background-color:Tomato;" (click)="thirddoor()" class="btn btn-primary">
        <a href="/member">Door 3</a>
    </button>
    <!---
    <div *ngIf="AdminOk">
        <a routerLink="admin" >See Employee List</a>
    </div>
    -->
    

    
</div>
