<div>
<h3 class="d-flex justify-content-center">Employee Attendance System </h3>
<button *ngIf="showLog" type="button" class="btn btn-primary float-left m-2" 
data-toggle="modal" data-target="#exampleModal"
(click)="loginClick()" 
data-backdrop="static" data-keyboard="false"
>
    Enter/Exit
  </button>

 
  <button *ngIf="showReg" type="button" class="btn btn-primary float-left m-2" 
  data-toggle="modal" data-target="#exampleModal"
  (click)="registerClick()" 
  data-backdrop="static" data-keyboard="false"
  >
      {{RegText}}
    </button>
    
    
  
    
    
           
<app-login [emp]="emp" *ngIf="ActivateLogin"></app-login>

<app-register  [wrk]="wrk" *ngIf="ActivateRegister"></app-register>
            

<app-member (memberEvent)="memberIsOn($event)" *ngIf="showMember"></app-member>
<router-outlet></router-outlet>
  </div>


